/*Here we style our html content*/
:root{/**/
    --green:rgb(54, 105, 2);
    --background:antiquewhite;
}

html{/**/
    background-color: rgb(225,240,239);
}

.main-header{/**/
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green);
    padding: 55px;
    margin: 5px;
    background-color: rgb(100, 198, 237);
    border: solid var(--green);
}
.main-header h1{/**/
    margin-left:none;
    margin-right: none;
    font-size: 45px;

}

.main-header li {/**/
    list-style: none;
    display:inline-flex;
    font-style: normal;
    padding: 5px;
   
}
nav{/**/
    display: flex;
    font-size: 18px;
    font-style: normal;
    
}
.main-header a,.contact-info a {/**/
    font-family:'Courier New', Courier, monospace;
    border: 2px solid var(--green);
    background-color: var(--background);
    text-decoration: none;
    font-weight: 400;
    color:var(--green);
    font-size: 30px;
   
}
a:hover{
    /**/
    background-color:lightpink;
}

section.about-me,section.work,section.resume,section.contact-info{/**/
    display:flex;
    border: var(--green);
    border-style: solid none solid none ;
}
.about-me header  {/**/
   margin: 50px;
   padding: 15px;
   font-size: 30px;
   border: solid var(--green);
    border-style: none solid none none;
}
.about-me img{/**/
display: inline;
width: 300px;
height: 280px;
border-radius: 15px;
}

.about-me p {/**/
display: flex;
text-align:left;
font-size:  25px;
border-style: double;
border-radius: 15px;
padding: 10px;
background-color: var(--background);
}


.about-me.work,.contact-info{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}
.work header {/**/
    display: inline-flex;
    margin: 9px;
    padding: 15px;
    font-size: 30px;
    border: solid var(--green);
     border-style: none solid none none;
    
}
.work img,.resume img {
    display: flex;
    width: 800px;
    height:500px;
    border: solid var(--green);
    border-width: 10px;

}

.work img:hover,.resume img:hover{
    border: dotted red;
    border-width:10px;
}
.work p {
    display: flex; 
    flex:1 0 200px; 
    flex-wrap: wrap;
    font-size:  20px;
    border-style: double;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--background);
}
.work pre{
    position: relative;
    right: -100px;
    top: 450px;
    background-color: var(--background);
    border: var(--green);
    border-style: solid;
    height: 20px;
    width: 100px;
    text-align: center;
    padding-top: 3px;

}

.resume{
    padding: 10px;
    
}
.resume header{
    display: inline-flex;
    margin: 17px;
    padding: 15px;
    font-size: 30px;
    border: solid var(--green);
     border-style: none solid none none;
    
}
.contact-info header{
    display: inline-flex;
    margin: 1px;
    padding: 8px;
    font-size: 25px;
    border: solid var(--green);
     border-style: none solid none none;
}


