/*Here we style our html content*/
:root{
    --green:rgb(46, 85, 8);
    --white:#fff;
    --blue:rgb(0, 238, 255); 
}
*{
    background-color: rgb(225, 240, 239);
    box-sizing: border-box;
}
.main-header{
    display:flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green);
    padding: 60px;
}
.main-header h1{
    font-size: larger;
}

.main-header li {
    list-style: none;
    display: inline;
    font-style: normal;
}

section{
    display:flex;
}
.about-me header  {
    border-width: 1px 2em 5px 0;
}
.about-me img{
display: inline;
width: 300px;
height: 300px;
}

.about-me p {
display: flex;
text-align:left;
font-size: large;
}
.work header {
    width: 200px;
    border-style: double;
    border-left:solid var(--green);
    
}