/*Here we style our html content*/
:root {
    /*sets variables for the colors used on the site.*/
    --green: rgb(54, 105, 2);
    --background: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add this line to center the main content vertically and horizontally */
}

.mtb {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mlr {
    margin-left: 2rem;
    margin-right: 2rem;
}

html {
    /*sets a site wide background color*/
    background-color: rgb(225, 240, 239);
}

.main-header {
    /*oranizes the heading space and its color, spacing and border.*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green);
    padding: 55px;
    margin: 5px;
    background-color: rgb(119, 204, 237);
    border-radius: 25px;

}

.main-header h1 {
    /*organizes the main headers biggest heading*/
    margin-left: none;
    margin-right: none;
    font-size: 50px;
    font-weight: 900;
}

.main-header h2 {
    /*Sets the font size for the second biggest heading.*/
    font-size: 25px;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {

    /*When viewed on a smartphone the main header will become the paragraph background color*/
    .main-header {
        background-color: var(--background);
    }
}

.main-header li {
    /*Organizes the list items font, sizing and placements.*/
    list-style: none;
    display: inline-flex;
    font-style: normal;
    padding: 5px;
}

nav {
    /*sets the nav sections placement and its contents fonts.*/
    display: flex;
    font-size: 18px;
    font-style: normal;
}

.main-header a,
.contact-info a {
    /*Sets the look for linked items on the page.*/
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 700;
    color: var(--green);
    font-size: 30px;
}

a:hover {
    /*Sets the color for hovering over linked items*/
    text-decoration: underline;
    color: black;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);

}



.about-me header {
    /*sets the position and bordering for the heading about me*/
    margin: 50px;
    padding: 15px;
    font-size: 30px;

}

.aboutMeRow {
    left: 20px;
}

.about-me img {
    /*postions the image of me*/
    position: relative;
    width: 300px;
    height: 280px;
    border-radius: 15px;
}

.col-4 header {
    background-color: orange;
    width: fit-content;
    border-radius: 15px;
}

#firstSam {
    display: inline;
    width: 300px;
    height: 280px;
    border-radius: 15px;
}

#secretSam {
    width: 300px;
    height: 280px;
    border-radius: 15px;
}


.about-me {
    background-color: rgb(152, 184, 152);
    border-radius: 25px;
}

.about-me p {
    /*positions and sets the font and border of the paragraph in about me*/
    display: flex;
    text-align: left;
    font-size: 25px;
    border-style: single;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--background);
}

.about-me.work,
.contact-info {
    /*Sets the positioning for sections for about me work and contact info*/
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.workHeader {
    /*sets the position and bordering for the heading my work*/
    display: inline-flex;
    font-size: 30px;
    align-content: center;
    text-align: center;
    background-color: orange;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;

}

.work {
    display: flex;
    width: auto;
    background-color: rgb(244, 216, 174);
    border-radius: 25px;
}


.resume {
    /*Sets a custom padding for resume to line up the left border*/
    padding: 10px;
    background-color: rgb(75, 124, 75);
    border-radius: 25px;
}

.resume header {
    /*sets the position and bordering for the heading resume*/
    display: flex;
    margin: 17px;
    padding: 15px;
    font-size: 30px;

}

.resumeBtn a {
    text-decoration: none;
    color: white;
}

.contact-info {
    background-color: rgb(248, 216, 168);
    border-radius: 25px;
}

.contact-info header {
    /*sets the position and bordering for the heading contact info*/
    display: flex;
    /* margin: 1px; */
    /* padding: 8px; */
    font-size: 25px;

}

.icon {
    width: fit-content;
    height: fit-content;
}

.github,
.linkedIn {
    height: 100px;
    width: 100px;
}

.fadein {
    opacity: 0.5;
    transition: 1s ease;
}

.fadein:hover {
    opacity: 1;
    transition: 1s ease;
}

footer {
    text-align: center;
    color: orange;
    background-color: rgb(54, 121, 54);
}