/*Here we style our html content*/
:root {
    /*sets variables for the colors used on the site.*/
    --green: rgb(54, 105, 2);
    --background: antiquewhite;
}

.mtb {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mlr {
    margin-left: 5rem;
    margin-right: 5rem;
}

html {
    /*sets a site wide background color*/
    background-color: rgb(225, 240, 239);
}

.main-header {
    /*oranizes the heading space and its color, spacing and border.*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--green);
    padding: 55px;
    margin: 5px;
    background-color: rgb(119, 204, 237);
    border: solid var(--green);
}

.main-header h1 {
    /*organizes the main headers biggest heading*/
    margin-left: none;
    margin-right: none;
    font-size: 50px;
    font-weight: 900;
}

.main-header h2 {
    /*Sets the font size for the second biggest heading.*/
    font-size: 25px;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {

    /*When viewed on a smartphone the main header will become the paragraph background color*/
    .main-header {
        background-color: var(--background);
    }
}

.main-header li {
    /*Organizes the list items font, sizing and placements.*/
    list-style: none;
    display: inline-flex;
    font-style: normal;
    padding: 5px;
}

nav {
    /*sets the nav sections placement and its contents fonts.*/
    display: flex;
    font-size: 18px;
    font-style: normal;
}

.main-header a,
.contact-info a {
    /*Sets the look for linked items on the page.*/
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 700;
    color: var(--green);
    font-size: 30px;
}

a:hover {
    /*Sets the color for hovering over linked items*/
    text-decoration: underline;
    color: black;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);

}

section.about-me,
section.work,
section.resume,
section.contact-info {
    /*sets the display and borders for the sites sections.*/
    display: flex;
    border: var(--green);
    border-style: solid none solid none;
}

.about-me header {
    /*sets the position and bordering for the heading about me*/
    margin: 50px;
    padding: 15px;
    font-size: 30px;
    border: solid var(--green);
    border-style: none solid none none;
}

.about-me img {
    /*postions the image of me*/

    width: 300px;
    height: 280px;
    border-radius: 15px;
}

#firstSam {
    display: inline;
    width: 300px;
    height: 280px;
    border-radius: 15px;
}

#secretSam {
    width: 300px;
    height: 280px;
    border-radius: 15px;
}




.about-me p {
    /*positions and sets the font and border of the paragraph in about me*/
    display: flex;
    text-align: left;
    font-size: 25px;
    border-style: double;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--background);
}

.about-me.work,
.contact-info {
    /*Sets the positioning for sections for about me work and contact info*/
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.work header {
    /*sets the position and bordering for the heading my work*/
    display: inline-flex;
    margin-left: 5px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    border-style: none solid none none;
}




.resume {
    /*Sets a custom padding for resume to line up the left border*/
    padding: 10px;
}

.resume header {
    /*sets the position and bordering for the heading resume*/
    display: inline-flex;
    margin: 17px;
    padding: 15px;
    font-size: 30px;
    border: solid var(--green);
    border-style: none solid none none;

}

.contact-info header {
    /*sets the position and bordering for the heading contact info*/
    display: inline-flex;
    margin: 1px;
    padding: 8px;
    font-size: 25px;
    border: solid var(--green);
    border-style: none solid none none;
}

footer {
    text-align: center;
    color: antiquewhite;
    background-color: var(--green);
}